parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\Presenters\*Presenter


session:
	expiration: 14 days


database:
        default:
            dsn: 'mysql:host=127.0.0.1;dbname=test;charset=utf8;'
            user: 'root'
            password: ''
            options:
                lazy: yes


services:
    router: App\Router\RouterFactory::createRouter
